@import "reset";

/* GENERAL */

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    Section {
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: 0 0;
        min-height: 100%;
        position: relative;
        .Text {
            min-height: 10em;
            display: table-cell;
            vertical-align: middle

        }
    }
}

a {
    color: FFFFFF;
}

p {
    margin-bottom: 1.1em;
}

h1 {
    font-family: 'Bree Serif', serif;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: .8em;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 1
}
/* SPECIFIC */

.Home {
    background-image: url(img/Home.jpg);
}


